body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter.ttf);
}

* {
  font-family: Inter;
}

.menu-item {
  height: 757px;
}
.menu-item ul {
  margin-top: 20px;
  margin-left: 16px;
}
.submenu-item li {
  padding-left: 10px;
}
.sidebar {
  background: rgb(250, 250, 250);
  border-right: 1px solid #E4E4E4;
}
.menu-sidebar {
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}
.logo-heading {
  height: 76px;
  margin-top: 20px;
}
.footer-sidebar {
  margin-top: 10px;
  margin-left: 16px;
}
.logo-heading-sidebar {
  height: 76px;
  margin-top: 20px;
}

.tqt-heading {
  border-top: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
  height: 60px;
}

.space-align-container {
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  gap: 600px;
  align-items: center;
  justify-content: space-between;
}

.input-space {
  margin-top: 25px;
}
.item-space {
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 32px;
  height: 44px;
}
.item-space-header {
  cursor: pointer;
  margin-top: 14px;
  margin-bottom: -30px;
  height: 44px;
}
.item-space:active {
  background: #F9F9F9;
}
.item-space:hover {
  background: #F9F9F9;
}
.logo-img {
  margin-top: 7px;
  margin-left: 30px;
}
.img-footer {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
}
.logo-superapp {
  margin-top: 7px;
}
.menu-config ul {
  margin-left: 23px;
}
.tqt-header {
  margin-top: 20px;
}
.ant-menu-title-content[title] {
  font-weight: 600;
}
.center-item {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 450;
}

.ant-drawer-close path {
  fill: #2C5DE5;
}

.input-error {
  color: #656565;
}

.ant-collapse-header{
  font-weight: 650;
  font-size: 14px;
}
.ant-collapse-item {
  margin-right: 0px;
}